/* Stiluri generale */
body {
  background-color: #1d1d1d;
  color: #dcdcdc;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #ff4848;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Stiluri pentru antet */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2b2b2b;
}

.logo {
  width: 70px;
  height: 70px;
}

.input-search {
  padding: 10px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 5px;
  color: #dcdcdc;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff4848;
}

/* Stiluri pentru wrapper-ul de bun venit */
.bunvenit-wrapper {
  padding: 100px 20px;
  background-color: #3a3a3a;
  background-image: url("imagini/victorian_pattern.png");
  background-repeat: repeat;
}

.bunvenit-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}

/* Stiluri pentru articol */
article {
  background-color: #2b2b2b;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
}

article h2 {
  color: #dcdcdc;
  font-size: 2rem;
  margin-bottom: 20px;
}

article p {
  color: #dcdcdc;
  font-size: 1.2rem;
}

/* Stiluri pentru categorii */
aside {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 5px;
}

aside h3 {
  color: #dcdcdc;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #dcdcdc;
}

aside a:hover {
  color: #ff4848;
}

/* Stiluri pentru subsol */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2b2b2b;
  color: #dcdcdc;
  font-size: 1rem;
}
